body {
    display: grid;
    height: 100vh;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.board {
    display: grid;
    grid-template-columns: repeat(3, 150px);
    grid-template-rows: repeat(3, 150px);
}

.square {
    border: 3px solid black;
}