@keyframes endAnimation {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}

.animated-div {
    transition: transform 1s;
}

.end-animate {
    animation: endAnimation 1s forwards
}