/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
	background-color: #333333;
	font-family: Arial, Helvetica, sans-serif;
}

.wrapper {
	width: 70%;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}

.container {
	display: flex;
	position: relative;
}

.graphic {
	background-color: salmon;
	display: flex;
	position: relative;
	justify-content: center;
	text-align: center;
}

.logo {
	position: absolute;
	top: 30%;
	width: 100%;
	height: auto;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	font-size: 100px;
	font-family: cursive;
	text-align: center;

	display: flex;
	justify-content: flex-start;
	align-items: center;
}

.graphic img {
	height: 1000px;
}

.logo img {
	width: 100px;
	height: 150px;
}

/* form part */

.text {
	font-size: 1.3rem;
	font-weight: bold;
	line-height: 1.2;
}

.main {
	background-color: #F9FAFB;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.text, .haveAccount {
	margin: 30px;
}

form {
	background-color: white;
	padding: 15px 30px;
	padding-bottom: 30px;
	display: flex;
	flex-direction: column;
	text-align: left;
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2), /* Bottom shadow */
	0 0px 0px rgba(0, 0, 0, 0.1); /* Top shadow (less or none) */
}

form input {
	border: 1px solid #E5E7EB;
	outline: none;
	width: 250px;
}

form input:focus {
	border: 1px solid skyblue;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
}

form .caption { 
	font-size: 1.3rem;
	font-weight: bolder;
	margin: 20px 0;
	color: rgba(0, 0, 0, 0.7);
}

.formInputs {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	gap: 0 80px;
	row-gap: 20px;
	justify-items: start;
}

.formInputs > div {
	display: flex;
	flex-direction: column;
}

.formInputs label {
	font-size: 0.8rem;
	font-weight: bold;
	color: rgba(0, 0, 0, 0.8);
}

.formInputs input {
	padding: 5px;
	margin-top: 3px;
}

/* button */
.main button {
	width: 230px;
	padding: 15px 30px;
	background-color: #596D48;
	color: #FDFDFD;
	font-size: 1.2rem;
	font-weight: bold;
	border-style: solid;
	border-radius: 10px;
	margin: 15px 30px;
}

/* Already have an account? */

.haveAccount {
	font-weight: 600;
}

.haveAccount a {
	color: #596D48;
	text-decoration: none;
}
